<li class="row">
  <div class="columns nine">
    <h4>{{item.title}}</h4>
    <p class="description">
      {{item.description}}
    </p>
    <p class="additional">
      {{item.additional}}
    </p>
  </div>
  <div class="columns three text-center">
    <button {{action "toggleForm"}} class="button-primary button-hand">I can do this</button>
  </div>
  {{#if isExpanded}}
    <div class="columns twelve">
      <div class="form">
        <div class="form-group">
          <span>I am</span> {{input value=fullName placeholder="full name" class="form-control"}}
        </div>
        <div class="form-group">
          <span>reacheable via</span>
          {{input value=contact placeholder="phone and/or email" class="form-control"}}
        </div>
        <div class="form-group">
            <span>willing to commit to this task for the next</span>
            {{input value=worktime placeholder="x weeks/months" class="form-control"}}
        </div>
        <div class="text-center">
          <button id={{item.id}} class="button-primary button-large" {{action "sendRequest" item.title item.id}}>Send Volunteer Request</button>
        </div>
      </div>
    </div>
  {{/if}}
</li>
